<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>mainpage</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script/script.js"></script>
</head>

<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo"><img src="#" alt="JUST 쇼핑몰"></h1>
            <nav class="nav">로고</nav>

        </header>
        <section id="slide">
            <a href="#"><img src="#" alt="이달의 사진"><span class="imgtext">이달의 사진입니다.</span></a>
            <a href="#"><img src="#" alt="이달의 사진2"><span class="imgtext">이달의 사진입니다2.</span></a>
            <a href="#"><img src="#" alt="이달의 사진3"><span class="imgtext">이달의 사진입니다3.</span></a>
        </section>
        <section id="contents" class="clearfix">
            <div class="cont1">
                <a href="#">공지사항</a>
                <div class="table_line">
                    <ul>
                        <li>
                            <a href="#">신규 공지1</a>
                            <span>2024.03.31</span>
                        </li>
                        <li>
                            <a href="#">신규 공지2</a>
                            <span>2024.04.01</span>
                        </li>
                        <li>
                            <a href="#">신규 공지3</a>
                            <span>2024.04.02</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont2">
                <a href="#">갤러리</a>
                <div class="img_tab">
                    <ul>
                        <li>
                            <a href="#"><img src="#" alt="사진1"></a>
                        </li>
                        <li>
                            <a href="#"><img src="#" alt="사진2"></a>
                        </li>
                        <li>
                            <a href="#"><img src="#" alt="사진3"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont3">
                <a href="#">팝업</a>
            </div>
        </section>
        <footer id="footer" class="clearfix">
            <div class="foot1">
                <h3>JUST 쇼핑몰</h3>
            </div>
            <div class="foot2">
                <h3>Copyright © by WEBDSIGN, ALL RIGHTS RESERVED</h3>
            </div>
            <div class="foot3">
                <h3>SNS</h3>
            </div>
        </footer>
    </div>
</body>

</html>