* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}

.clearfix::before .clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
}

a:link {
    color: pink;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#header .logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #333;
    color: white;
    display: flex;
    /*로고 이미지를 중앙에 위치 시키기 위해 flex로 지정하여 수평, 수직 정렬이 되도록 하기 위해.*/
    justify-content: center;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */
}

#header .nav {
    float: left;
    width: 950px;
    height: 100px;
    background-color: #777;
    color: white;
}

#slide {
    width: 100%;
    height: 200px;
    background-color: #111;
    color: white;
}

#contents>div {
    width: 400px;
    height: 200px;
    float: left;
    color: white;
}

#contents>div.cont1 {
    background-color: #111;
}

#contents>div.cont2 {
    background-color: #222;
}

#contents>div.cont3 {
    background-color: #333;
}

#footer>div {
    height: 100px;
    float: left;
    color: white;
}

#footer>div.foot1 {
    width: 200px;
    background-color: #444;
}

#footer>div.foot2 {
    width: 800px;
    background-color: #555;
}

#footer>div.foot3 {
    width: 200px;
    background-color: #000;
}

.table_line ul li {
    border: 1px solid #ffff;
    height: 50px;
    text-align: center;
}

.img_tab ul li {
    border: 1px solid white;
    height: 50px;
    padding: 5px;
}

h1 {
    text-align: center;
    line-height: 100px;
}

h3 {
    text-align: center;
    line-height: 100px;
}